<h1>New task</h1>


<!-- <form action="/restaurants" method="post">
  <input type="text" name="restaurant[name]">
  <input type="text" name="restaurant[address]">
  <input type="number" name="restaurant[stars]">
  <input type="submit">

</form> -->


<%= render 'form', task: @task %>
